main .contents {
    margin-top: 20px;
    text-align: left;
}

main .contents .contTitle {
    font-size: 18px;
}

main table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 2px black solid;
}

main table th {
    font-weight: normal;
    padding-left: 30px;
    border-bottom: 1px solid lightgray;
    background-color: rgba(0, 0, 0, 0.03);
}

main table td {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    border-bottom: 1px solid lightgray;
}

main table td input {
    height: 26px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Nanum Gothic', sans-serif;
    border: 1px solid lightgray;
}

main table td .inputradio {
    float: left;
    width: 20px;
    margin-right: 7px;
}

main table td .radiolabel {
    float: left;
    margin-top: 5px;
    margin-right: 25px;
}

main table td .formBtn {
    background-color: white;
    border: 1px solid lightgray;
    color: black;
    height: 31px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: pointer;
}

main table td select {
    height: 29px;
    width: 60px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}

main .lastCont {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nextBtnWrap {
    text-align: right;
    margin-bottom: 70px;
}

.fileBox {
    display: inline;
}

.fileBox .btn_file {
    display: inline-block;
    border: 1px solid lightgray;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.fileBox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}