<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
  <context-param>
    <param-name>driverClassName</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/study_db?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>study</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>1111</param-value>
  </context-param>
  <security-role>
    <role-name>Admin</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>adminLogin</web-resource-name>
      <url-pattern>/qnaBoard/modify</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>